@import "../../../styles/vars-mixins";

.button {
    background-color: white;
    padding: 5px 10px;
    border: 1px solid black;
    cursor: pointer;
    &.buy {
        padding: 10px;
        color: $price-color;
        background-color: $buy-button;
    }
}