@import "../../../styles/vars-mixins";

.wrapper {
  background-color: rgba($secondary-color, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  @include box-shadow;
  display: flex;
  height: $bar-height;
  z-index: 2;
}
.sortItem {
  padding: 5px 10px;
  background-color: $secondary-color;
  border-radius: 5px;
  border: 1px solid $main-color;
  cursor: pointer;
  &.isActive {
    background-color: $main-color;
  }
  margin: 5px;
}